body {

}
#carousel1 .nav a small {
    display: block;
}
#carousel1 .nav {
    background: #eee;
}
.nav-justified > li > a {
    border-radius: 0px;
}
.nav-pills > li[data-slide-to="0"].active a {
    background-color: rgba(50,0,0,1);
}
.nav-pills > li[data-slide-to="1"].active a {
    background-color: rgba(50,0,0,1);
}
.nav-pills > li[data-slide-to="2"].active a {
    background-color: rgba(50,0,0,1);
}